.homeCointainter{
    display:block;    
    background-image:url('https://wallpapercave.com/wp/wp3171098.jpg') ;
    background-size:cover;
    min-height: 100vh; 
    min-width: 100vh; 
}
.pageBox{
    display:flex;
    flex-direction: column;
}
.btnPageBox{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.formContainer{
    margin-left: 50px;
}
.razaCard{
    border-radius: 25px;
    background-color: rgb(0,90,141, 0.4);
    display:flex;
    flex-direction: column;
    margin:5px;
    width:260px;
    height: 205px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255,150,173);
    outline:none;
    font-size:0px;
    padding-bottom: 5px;
}
.razaCard:hover{
    height:fit-content;
    font-size:13px;
    background-color:rgb(0,90,141, 0.7);
}
.razaCardNotFound{
    border-radius: 25px;
    background-color: rgb(0,90,141, 0.4);
    display:flex;
    flex-direction: column;
    margin:5px;
    width:500px;
    height: 430px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255,150,173);
}
.homeName{ 
    font-size: 12px;  /* hago los nombres de raza siempre visibles */
}
.textCardNotFound{
    font-size:20px;
    display:flex;
    flex-direction: column;
    color:rgb(250,243,243);
}
.textCard{
    font-weight:bolder;
    display:flex;
    flex-direction: column;
    color:rgb(250,243,243);
}
.imgCard{
    border-radius: 20px;
    margin: 10px;

}
.bar{
    padding-left:50px;
    height:40px;
    background-color: rgb(0,90,141, 0.4);
    padding-top: 10px;
    display: flex ;
    flex-direction: row;
    justify-content: flex-start;
}
.barItem{
    margin-left: 10px;
    margin-right:10px;
    font-size:20px ;
    color:rgb(250,243,243);
}
.btn{
    height:25px;
    margin-top:5px;
    margin-left: 5px;
    border-radius: 3px;
    background-color: rgb(250,243,243);
    color:rgb(2,46,87);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255,150,173);
    outline:none;
}
.btn:hover{
    color: rgb(250,243,243);
    background-color:rgb(2,46,87, 0.8);
}
.btnCreate{
    margin-left:50px;
}

.btnPage{
    height:25px;
    margin:10px;
    border-radius: 3px;
    background-color: rgb(250,243,243, 0.8);
    color:rgb(37, 34, 34);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255,150,173);
    outline:none;
}
.btnPage:hover{
    color: rgb(250,243,243);
    background-color:rgb(2,46,87, 0.8);
    
}
.numberPage{
    height:25px;
    margin:8px;
    border-radius: 3px;
    background-color: rgb(250,243,243, 0.8);
    color:rgb(37, 34, 34);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255,150,173);
    outline:none;
}
.cardsBox{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loadingHome{
    display:flex;
    flex-direction: column;
}