.IniCointainter{
    display:block;
/*     background-image:url('https://s1.eestatic.com/2021/04/25/curiosidades/mascotas/576453307_179177416_1706x960.jpg') ;     */
    background-size:cover;
    min-height: 100vh; 
    min-width: 100vh; 
}

